@model Foodkart.Food

@{
    ViewBag.Title = "DeleteItem";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>DeleteItem</h2>

<body>

    <style type="text/css">
        .img-card {
            box-shadow: 0 4px 8px 0 #8D8D8D;
            border-radius: 5px;
            border: 1px solid black;
            transition: 0.3s;
            width: 200px;
            height: 200px;
            position: absolute;
            margin-left: 585px;
            margin-top: -250px;
        }
    </style>

    @if (@Model == null)
    {
        <div class="card">
            <h2 style="font-size:40px;">Item deleted</h2>
            <img src="https://image.flaticon.com/icons/svg/835/835405.svg" style="height:400px; width:400px; margin-left: 200px;" />
            <br/>
            <p>Ohh !!!</p>
        </div>
    }
    else
    {
        using (Html.BeginForm("DeleteItem", "Admin", FormMethod.Post))
        {
            <input type="number" id="FoodId" name="FoodId" value="@Model.FoodId" hidden />
            <div class="card">
                <h2 style="font-size:40px;">Delete Item</h2>
                <h2>Do you want to delete this food item?</h2>
                <h2>Food Id - @Model.FoodId</h2>
                <h2>@Model.FoodName</h2>
                @if (Model.FoodType == "V")
                {
                    <h2>(@Model.FoodCategory, Veg)</h2>
                }
                else if (Model.FoodType == "N")
                {
                    <h2>(@Model.FoodCategory, Non-Veg) </h2>
                }
                else
                {
                    <h2>(@Model.FoodCategory, Egg) </h2>
                }
                <h2>Food Quantity - @Model.FoodQty</h2>
                <h2>Rs @Model.FoodUnitPrice</h2>
                <a><img src="@Model.FoodPhotoUrl" class="img-card" /></a>
                <table align="center">
                    <tr>
                        <td style="text-align:start"><a href="/Admin/UpdateDeleteItems" class="blue-link">Back</a></td>
                        <td style="text-align:end;"><a href="#" class="blue-button" onclick="this.closest('form').submit();">Confirm Delete</a></td>
                    </tr>
                </table>
                <br/>
                <br/>
            </div>
        }

    }
</body>