@model List<Foodkart.Food>

@{
    ViewBag.Title = "RestockItems";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>RestockItems</h2>

<body>
    <style type="text/css">
        table {
            font-family: MyFont, sans-serif;
            font-weight: bold;
            border-collapse: collapse;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            margin-top: 50px;
            font-size: 20px;
            background-color: #FFFFFF;
        }
    </style>
    <div class="card">
        @if (Model.Count == 0)
        {
            <h2 class="header-center-green">No items to re-stock.</h2>
        }
        else
        {
            <h2 class="header-center-red">Some items are going out of stock. Please re-stock as soon as possible.</h2>

            using (Html.BeginForm())
            {
                <table>
                    <tr>
                        <th>Food Name</th>
                        <th>Food Category</th>
                        <th>Food Unit Price</th>
                        <th>Available Quantity</th>
                        <th>Food Type</th>
                        <th>Action</th>
                    </tr>
                    @foreach (Food food in Model)
                    {
                        <tr>
                            <td>@food.FoodName</td>
                            <td>@food.FoodCategory</td>
                            <td>Rs @food.FoodUnitPrice</td>
                            <td>@food.FoodQty</td>
                            @if (food.FoodType == "V")
                            {
                                <td>Veg</td>
                            }
                            else if (food.FoodType == "N")
                            {
                                <td>Non-Veg</td>
                            }
                            else
                            {
                                <td>Egg</td>
                            }
                            <td><a href="@Url.Action("Restock","Admin", new { foodId = food.FoodId })" class="blue-link">Restock</a></td>
                        </tr>
                    }
                </table>
            }
            <br />

        }
    </div>
</body>
