<link rel="stylesheet" href="~/css/styles.css" />
<header style="width:100%;">
    <img src="~/Logos/logo.png" width="200" class="logo" />
    <nav>
        <ul class="nav_links">
            <li><a href="@Url.Action("CustomerHome","Customer", Session["CustModel"])">Home</a></li>
            <li><a href="@Url.Action("CustomerCart","Customer", Session["CustModel"]))">Cart</a></li>
            <li><a href="@Url.Action("CustomerOrders","Customer", Session["CustModel"]))">Orders</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>
    </nav>
    <ul class="nav_links">
        <li><a href="@Url.Action("CustomerProfile","Customer", Session["CustModel"]))">@Session["CustFName"]</a></li>
    </ul>
    <a href="~/Auth/Login" class="blue-button-header">Sign-Out</a>
</header>
<hr/>
