@model  List<Foodkart.Models.OrdersModel>

@{
    Layout = null;
    ViewBag.Pre_Id = 0;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CustomerOrders</title>
    @Html.Partial("~/Views/Shared/_Header.cshtml");
</head>
<body>
    <style type="text/css">

        .card {
            box-shadow: 0 4px 8px 0 #8D8D8D;
            border-radius: 5px;
            transition: 0.3s;
            padding: 20px;
            width: 800px;
            height: auto;
            position: relative;
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;
            background-color: #FFFFFF;
        }

        .input-group {
            position: relative;
        }

            .input-group .input-area {
                border: 1px solid #03A9F4;
                padding: 16px 12px;
                font-size: 20px;
                width: 80px;
                height: 20px;
                text-align: center;
                border-radius: 5px;
            }

                .input-group .input-area:focus {
                    border: 0px solid #03A9F4;
                }

                    .input-group .input-area:focus + .label {
                        top: -8px;
                        padding: 0 3px;
                        font-size: 20px;
                        color: #03A9F4;
                        border-radius: 5px;
                    }

            .input-group .label {
                color: #8D8D8D;
                position: absolute;
                top: 20px;
                left: 13px;
                background: #FFFFFF;
                transition: 0.3s;
                border-radius: 5px;
            }

            .input-group .input-area:valid + .label {
                top: -8px;
                padding: 0 3px;
                font-size: 16px;
                color: #03A9F4;
                border-radius: 5px;
            }

        .blue-button {
            font-size: 20px;
            border-radius: 8px;
            padding: 10px 8px;
            background-color: #03A9F4;
            color: #FFFFFF;
            text-decoration: none;
        }

            .blue-button:hover {
                background-color: #01579B;
                color: #FFFFFF;
                transition: 0.8s;
                text-decoration: none;
            }

        .blue-link {
            font-size: 18px;
            color: #03A9F4;
            text-decoration: none;
        }

        body {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            background-image: url("/Images/bbq2.jpg");
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
    <br /><br /><br /><br /><br /><br /><br /><br />

    <div class="card">
        @if (ViewBag.Status == "ordered")
        {
            <h2>Ordered successfully</h2>
        }
        @if (Model.Count() == 0)
        {
            <h2>Orders Empty</h2>
        }
        else
        {
            foreach (Foodkart.Models.OrdersModel ordersModel in @Model)
            {
                if (ViewBag.Pre_Id != ordersModel.OrderId)
                {
                    if (ViewBag.Pre_Id != 0)
                    {
                        <hr style="height:2px; background: black;" />
                    }
                    <h2>Order Id - @ordersModel.OrderId &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; (@ordersModel.OrderDate)</h2>
                    {
                        ViewBag.Pre_Id = long.Parse(ordersModel.OrderId.ToString());
                    }
                    <h2>@ordersModel.FoodName (@ordersModel.FoodCategory)</h2>
                    <h2>Rs @ordersModel.OrderItemUnitPrice - @ordersModel.OrderItemQty item(s)</h2>
                }
                else
                {
                    {
                        ViewBag.Pre_Id = long.Parse(ordersModel.OrderId.ToString());
                    }
                    <h2>@ordersModel.FoodName (@ordersModel.FoodCategory)</h2>
                    <h2>Rs @ordersModel.OrderItemUnitPrice - @ordersModel.OrderItemQty item(s)</h2>
                }
            }
        }

    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div>
        @Html.Partial("~/Views/Shared/_Footer.cshtml")
    </div>
</body>
</html>
