@model  List<Foodkart.Models.OrdersModel>

@{
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
    ViewBag.Pre_Id = 0;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CustomerOrders</title>
</head>
<body>
    <div class="card">
        <h2 style="font-size:40px;">Your Orders</h2>
        @if (ViewBag.Status == "ordered")
        {
            <p>Ordered successfully</p>
        }
        @if (Model.Count() == 0)
        {
            <p>Oops ! You have no orders.</p>
            <img src="https://cdn.dribbble.com/users/721524/screenshots/4112199/no_orders.png" style="height:400px; width:400px; margin-left: 200px;" />
        }
        else
        {
            long totalBill = 0;
            int count = 0;
            foreach (Foodkart.Models.OrdersModel ordersModel in @Model)
            {
                long eachItemTotal = 0;
                if (ViewBag.Pre_Id != ordersModel.OrderId)
                {
                    if (ViewBag.Pre_Id != 0)
                    {
                        <text>
                            <hr style="margin-top:50px;" />
                        </text>
                        <div style="width:100%; display:inline-block">
                            <p style="position:relative; padding-left:10px; float:left;">Total Bill</p>
                            <p style="position:relative; padding-right:10px; float:right;">Rs @totalBill</p>
                        </div>
                        <text>
                            <hr />
                        </text>
                        totalBill = 0;

                    }
                    <p>Order Id - @ordersModel.OrderId </p>
                    <p>Ordered On @ordersModel.OrderDate</p>
                    <table>
                        <tr>
                            <th style="text-align:left">Food Items</th>
                            <th style="text-align:right">Total Price</th>
                        </tr>
                    </table>
                    {
                        ViewBag.Pre_Id = long.Parse(ordersModel.OrderId.ToString());
                    }

                    eachItemTotal = @ordersModel.OrderItemUnitPrice * @ordersModel.OrderItemQty;
                    totalBill += eachItemTotal;

                    <p style="padding:10px;">@ordersModel.FoodName (@ordersModel.FoodCategory)</p>
                    <div style="width:100%; display:flex; justify-content:space-between; margin-top:-40px; margin-bottom:-40px; position:relative;">
                        <p style="padding-left:10px;">Rs @ordersModel.OrderItemUnitPrice X @ordersModel.OrderItemQty item(s)</p>
                        <p style="padding-right:10px;">Rs @eachItemTotal</p>
                    </div>
                }
                else
                {
                    {
                        ViewBag.Pre_Id = long.Parse(ordersModel.OrderId.ToString());
                    }

                    eachItemTotal = @ordersModel.OrderItemUnitPrice * @ordersModel.OrderItemQty;
                    totalBill += eachItemTotal;
                    <p style="padding:10px;">@ordersModel.FoodName (@ordersModel.FoodCategory)</p>
                    <div style="width:100%; display:flex; justify-content:space-between; margin-top:-40px;  margin-bottom:-40px; position:relative;">
                        <p style="padding-left: 10px;">Rs @ordersModel.OrderItemUnitPrice X @ordersModel.OrderItemQty item(s)</p>
                        <p style="padding-right: 10px;">Rs @eachItemTotal</p>
                    </div>
                }
                if (count == Model.Count() - 1)
                {
                    <text>
                        <hr style="margin-top:50px;" />
                    </text>
                    <div style="width:100%; display:inline-block">
                        <p style="position:relative; padding-left:10px; float:left;">Total Bill</p>
                        <p style="position:relative; padding-right:10px; float:right;">Rs @totalBill</p>
                    </div>
                    <text>
                        <hr />
                    </text>
                }
                count++;
            }
        }

    </div>
</body>
</html>
