@model List<Foodkart.CartItem>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CustomerCart</title>
    @Html.Partial("~/Views/Shared/_Header.cshtml");
</head>
<body>
    <style type="text/css">

        .card {
            box-shadow: 0 4px 8px 0 #8D8D8D;
            border-radius: 5px;
            transition: 0.3s;
            padding: 20px;
            width: 800px;
            height: 200px;
            position: relative;
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;
            background-color: #FFFFFF;
        }

        .input-group {
            position: relative;
        }

            .input-group .input-area {
                border: 1px solid #03A9F4;
                padding: 16px 12px;
                font-size: 20px;
                width: 80px;
                height: 20px;
                text-align: center;
                border-radius: 5px;
            }

                .input-group .input-area:focus {
                    border: 0px solid #03A9F4;
                }

                    .input-group .input-area:focus + .label {
                        top: -8px;
                        padding: 0 3px;
                        font-size: 20px;
                        color: #03A9F4;
                        border-radius: 5px;
                    }

            .input-group .label {
                color: #8D8D8D;
                position: absolute;
                top: 20px;
                left: 13px;
                background: #FFFFFF;
                transition: 0.3s;
                border-radius: 5px;
            }

            .input-group .input-area:valid + .label {
                top: -8px;
                padding: 0 3px;
                font-size: 16px;
                color: #03A9F4;
                border-radius: 5px;
            }

        .blue-button {
            font-size: 24px;
            border-radius: 8px;
            padding: 10px 8px;
            background-color: #03A9F4;
            color: #FFFFFF;
            text-decoration: none;
        }

            .blue-button:hover {
                background-color: #01579B;
                color: #FFFFFF;
                transition: 0.8s;
                text-decoration: none;
            }

        .blue-link {
            font-size: 18px;
            color: #03A9F4;
            text-decoration: none;
        }

        body {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            background-image: url("/Images/cart.jpg");
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
    <br />
    <br />
    @if (ViewBag.Status == "ordered")
    {
        <h2>Ordered successfully</h2>
    }
    else
    {
        <br /><br /><br /><br /><br /><br />
        using (Html.BeginForm())
        {

            foreach (CartItem cartItem in @Model)
            {

                {
                    FoodkartModelContainer foodkartContext = new FoodkartModelContainer();
                    Food food = foodkartContext.Foods.Find(cartItem.CartItemFoodId);
                    <div class="card">
                        <h2>@food.FoodName (@food.FoodCategory) </h2>
                        <h2>Rs @food.FoodUnitPrice</h2>
                        <h2>@cartItem.CartItemQty item(s)</h2>
                    </div>

                }


            }

            <div style="text-align:center; margin-top:40px; margin-bottom:40px; position: relative;">
                <a href="#" class="blue-button" onclick="this.closest('form').submit(); return false;">Place Order</a>
            </div>

        }
    }
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    @Html.Partial("~/Views/Shared/_Footer.cshtml")
</body>
</html>
