@model List<Foodkart.CartItem>

@{
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CustomerCart</title>
</head>
<body>
    <style>
        .horizontal-flex-container {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            margin: 10px;
        }
    </style>
    @if (ViewBag.Status == "ordered")
    {
        <div class="card">
            <h2 style="font-size:40px;">Ordered successfully</h2>
            <img src="https://image.flaticon.com/icons/svg/3141/3141005.svg" style="height:400px; width:400px; margin-left: 200px;" />
            <br/>
            <p>Thanks For Ordering On Foodkart</p>
        </div>
    }
    else
    {
        if (Model.Count() == 0)
        {
            <div class="card">
                <p>Your Foodkart is Empty</p>
                <img src="https://image.flaticon.com/icons/svg/3081/3081929.svg" style="height:400px; width:400px; margin-left: 200px;" />
            </div>
        }
        else
        {
            using (Html.BeginForm())
            {
                long totalBill = 0;

                <div class="card">
                    <h2 style="font-size:40px;">Your Cart</h2>
                    <table>
                        <tr>
                            <th style="text-align:left">Food Items</th>
                            <th style="text-align:right">Total Price</th>
                        </tr>
                    </table>
                    @foreach (CartItem cartItem in @Model)
                    {
                        FoodkartModelContainer foodkartContext = new FoodkartModelContainer();
                        Food food = foodkartContext.Foods.Find(cartItem.CartItemFoodId);
                        long eachItemTotal = @food.FoodUnitPrice * @cartItem.CartItemQty;
                        <p style="padding: 10px;">@food.FoodName (@food.FoodCategory) </p>
                        <div style="width:100%; display:flex; justify-content:space-between; margin-top:-50px; margin-bottom:-50px; position:relative;">
                            <p style="position:relative; padding:10px; float:left;">Rs @food.FoodUnitPrice X @cartItem.CartItemQty item(s)</p>
                            <p style="position:relative; padding:10px; float:right;">@eachItemTotal</p>
                        </div>
                        totalBill += eachItemTotal;

                    }
                    <br/>
                    <br/>
                    <hr />
                    <div style="width:100%; display:inline-block; margin-top:-20px; margin-bottom:-20px;">
                        <div style="position:relative; float:left;">
                            <p class="p_style" style="padding-left: 10px;">Total Bill (Rs)</p>
                        </div>
                        <div style="position:relative; float:right;">
                            <p class="p_style" style="padding-right: 10px;">@totalBill</p>
                        </div>
                    </div>
                    <hr/>
                    <div class="horizontal-flex-container" style="text-align:center; margin-top:40px; margin-bottom:40px; position: relative;">
                        <a href="#" style="width:100%" class="blue-button" onclick="this.closest('form').submit(); return false;">Place Order</a>
                    </div>
                </div>
            }
        }
    }
</body>
</html>
